{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Sign In</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>

    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>

  </form>
</div>
{% endblock %}